<div class="container py-3">
  <div class="title h1 text-center">Case Customizer Challenge</div>
  <!-- Card Start -->
  <div class="card py-lg-5">


    <div class="row">
      <div class="col-md-6 px-3">
        
        <div class="phone-canvas">
          <div id="getCase"  class="phone-canvas__inner" :style="{ overflow: overflow }">
            <div class="phone-case"></div>
            
              <div
                
                id="canvas"
                class="drop-area"
                (drop)="onDrop($event)"
                (dragover)="onDragOver($event)"
              >
                <div
                  class="drop-area__background"
                  [ngStyle]="{
                    'background-image': 'url(' + backgroundUrl + ')',
                    'background-position': backgroundPosition,
                    'background-size': backgroundSize
                  }"
                ></div>
              </div>

              <div  class="phone-fore"></div>

              <div #widgetIcons class="widget-container" (click)="toggleIcon()">
                <div *ngIf="isEdit">
                  <div
                    icon
                    flat
                    color="grey darken-3"
                    class="t-btn t-btn--delete"
                    title="Delete"
                    (click)="delete()"
                  >
                    <i class="material-icons">auto_delete</i>
                  </div>

                  <div
                    icon
                    flat
                    color="grey darken-3"
                    class="t-btn t-btn--flip-front"
                    title="Bring forward"
                    (click)="bringForward()"
                  >
                    <i class="material-icons">flip_to_front</i>
                  </div>
                  <div
                    icon
                    flat
                    color="grey darken-3"
                    class="t-btn t-btn--flip-back"
                    title="Send backward"
                    (click)="sendBackward()"
                  >
                    <i class="material-icons">flip_to_back</i>
                  </div>
                  <div
                    icon
                    flat
                    color="grey darken-3"
                    class="t-btn t-btn--rotate"
                    title="Rotate"
                    (mousedown)="rotate($event)"
                  >
                    <i class="material-icons">rotate_left</i>
                  </div>
                  <div
                    icon
                    flat
                    color="grey darken-3"
                    class="t-btn t-btn--scale"
                    title="Scale"
                    (mousedown)="scale($event)"
                  >
                    <i class="material-icons">check_box_outline_blank</i>
                  </div>

                  <div class="widget__container"></div>
                </div>
              </div>
            
          </div>
        </div>
     
        <div class="w-100 text-center">
          <button
            class="getcase-btn d-flex align-items-center py-2 px-3 border-0 text-white mt-3 m-auto"
            (click)="downloadDiv()"
          >
            <i class="material-icons me-2">cloud_download</i>
            get case
          </button>
        </div>
      </div>

      <div class="col-md-6">
        <div class="row wrap">
          <div class="col-xs-12">
            <!-- Title -->
            <div class="row">
              <div class="col-xs-12">
                <h2 class="title text-xs-left mb-2">Background</h2>
              </div>
            </div>

            <!-- Sections -->
            <!-- Background Options -->
            <div class="row d-flex align-items-end">
              <div class="col-xs-12 text-xs-left">
                <h5 class="subheading text-xs-left">Images</h5>
              </div>
              <div class="col-xs-12 col-md-8 align-center text-xs-left">
                <div
                  class="background-option m-2"
                  [style.backgroundImage]="
                    'url(../assets/images/backgrounds/cacti.jpg)'
                  "
                  (click)="
                    setBackgroundImage('../assets/images/backgrounds/cacti.jpg')
                  "
                ></div>
                <div
                  class="background-option m-2"
                  [style.backgroundImage]="
                    'url(../assets/images/backgrounds/sunset.jpg)'
                  "
                  (click)="
                    setBackgroundImage(
                      '../assets/images/backgrounds/sunset.jpg'
                    )
                  "
                ></div>
                <div
                  class="background-option m-2"
                  [style.backgroundImage]="
                    'url(../assets/images/backgrounds/lama.jpg)'
                  "
                  (click)="
                    setBackgroundImage('../assets/images/backgrounds/lama.jpg')
                  "
                ></div>
                <div
                  class="background-option m-2"
                  [style.backgroundImage]="
                    'url(../assets/images/backgrounds/stripes.jpg)'
                  "
                  (click)="
                    setBackgroundImage(
                      '../assets/images/backgrounds/stripes.jpg'
                    )
                  "
                ></div>
                <div
                  class="background-option m-2"
                  [style.backgroundImage]="
                    'url(../assets/images/backgrounds/flowers.jpg)'
                  "
                  (click)="
                    setBackgroundImage(
                      '../assets/images/backgrounds/flowers.jpg'
                    )
                  "
                ></div>
              </div>
              <div class="col-xs-12 col-md-4 p-0">
                <form
                  method="POST"
                  enctype="multipart/form-data"
                  accept=".jpg, .jpeg, .png, .svg, .bmp"
                  style="display: none"
                >
                  <input type="file" #uploadInput />
                </form>
                <button class="btn btn-info text-white text-uppercase mb-2">
                  <span>Upload Image</span>
                </button>
              </div>
            </div>

            <!-- Alignment Options -->
            <div class="row">
              <div class="col-xs-12">
                <h5 class="subheading text-xs-left">Alignment &amp; Size</h5>
                <div class="row justify-content-start mt-4">
                  <div class="col-xs-12 text-left py-0">
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'right top' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'right top'"
                          (click)="setAlignmentImage('right top')"
                          ><span class="material-symbols-outlined">
                            border_top
                          </span></i
                        >
                      </button>
                    </div>
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'right center' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'right center'"
                          (click)="setAlignmentImage('right center')"
                          ><span class="material-symbols-outlined">
                            border_horizontal
                          </span></i
                        >
                      </button>
                    </div>
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'right bottom' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'right bottom'"
                          (click)="setAlignmentImage('right bottom')"
                          ><span class="material-symbols-outlined">
                            border_bottom
                          </span></i
                        >
                      </button>
                    </div>
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'left bottom' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'left bottom'"
                          (click)="setAlignmentImage('left bottom')"
                          ><span class="material-symbols-outlined">
                            border_left
                          </span></i
                        >
                      </button>
                    </div>
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'center bottom' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'center bottom'"
                          (click)="setAlignmentImage('center bottom')"
                          ><span class="material-symbols-outlined">
                            border_vertical
                          </span></i
                        >
                      </button>
                    </div>
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'left top' === backgroundPosition
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundPosition]="'left top'"
                          (click)="setAlignmentImage('left top')"
                          ><span class="material-symbols-outlined">
                            border_right
                          </span></i
                        >
                      </button>
                    </div>
                  </div>
                  <div class="col-xs-12 text-left py-0">
                    <div
                      class="d-inline-block"
                      ngbTooltip="Align to top"
                      placement="bottom"
                    >
                      <button
                        class="btn btn-icon"
                        [ngClass]="{
                          selected: 'contain' === backgroundSize
                        }"
                      >
                        <i
                          class="material-icons royalblue"
                          [style.backgroundSize]="'contain'"
                          (click)="setBackgroundSize('contain')"
                          ><span class="material-symbols-outlined">
                            crop_portrait
                          </span></i
                        >
                      </button>

                      <div
                        class="d-inline-block"
                        ngbTooltip="Align to top"
                        placement="bottom"
                      >
                        <button
                          class="btn btn-icon"
                          [ngClass]="{
                            selected: 'cover' === backgroundSize
                          }"
                        >
                          <i
                            class="material-icons royalblue"
                            [style.backgroundSize]="'cover'"
                            (click)="setBackgroundSize('cover')"
                            ><span class="material-symbols-outlined">
                              crop_7_5
                            </span></i
                          >
                        </button>

                        <div
                          class="d-inline-block"
                          ngbTooltip="Align to top"
                          placement="bottom"
                        >
                          <button
                            class="btn btn-icon"
                            [ngClass]="{
                              selected: '100% 100%' === backgroundSize
                            }"
                          >
                            <i
                              class="material-icons royalblue"
                              [style.backgroundSize]="'100% 100%'"
                              (click)="setBackgroundSize('100% 100%')"
                              ><span class="material-symbols-outlined">
                                crop_5_4
                              </span></i
                            >
                          </button>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col-xs-12">
            <div class="row">
              <div class="col-xs-12 mt-4">
                <h5 class="title text-xs-left mb-2">Elements</h5>
              </div>
            </div>

            <div class="d-flex justify-content-start mt-2">
              <button class="btn btn-light mr-2" (click)="selectTab('sticker')">
                <i class="material-icons royalblue"
                  ><span class="material-symbols-outlined">
                    insert_emoticon
                  </span></i
                >
              </button>
              <button class="btn btn-light" (click)="selectTab('textChange')">
                <i class="material-icons royalblue"
                  ><span class="material-symbols-outlined">
                    text_fields
                  </span></i
                >
              </button>
            </div>

            <div class="scroll-y" style="max-height: 250px">
              <div class="col-12 pt-2">
                <!-- Sticker Items -->
                <ng-container *ngIf="tabActive === 'sticker'">
                  <div class="container">
                    <div class="row sticker-picker scroll-y pt-4">
                      <div
                        class="sticker-item"
                        class="col-4 col-sm-3 col-md-3"
                        *ngFor="let sticker of stickers"
                      >
                        <img
                          id="drag"
                          draggable="true"
                          (dragstart)="
                            onDragStart($event, sticker.src, 'sticker')
                          "
                          contain
                          class="img-fluid sticker-item__image"
                          [src]="sticker.src"
                          [alt]="sticker.alt"
                        />
                      </div>
                      <div class="col-12 py-5 px-3">
                        <hr />
                      </div>
                      <div
                        class="col-4 col-sm-3 col-md-3"
                        *ngFor="let sticker of summerStickers"
                      >
                        <img
                          id="drag"
                          draggable="true"
                          (dragstart)="
                            onDragStart($event, sticker.src, 'sticker')
                          "
                          contain
                          class="img-fluid"
                          [src]="sticker.src"
                          [alt]="sticker.alt"
                        />
                      </div>
                    </div>
                  </div>
                </ng-container>
                <ng-container *ngIf="tabActive !== 'sticker'">
                  <div class="container-fluid">
                    <div class="row">
                      <div class="col-md-12 col-lg-10 label">
                        <label>Text</label>
                        <input
                          [(ngModel)]="inputText"
                          type="text"
                          class="form-control text-input"
                          placeholder="Your Name"
                        />
                      </div>
                      <div class="col-md-12 col-lg-10 mr-1">
                        <div
                          class="color-picker d-flex justify-content-between align-items-end label"
                        >
                          <div class="d-flex" *ngFor="let color of colors">
                            <div
                              class="color-option"
                              (click)="setFontColor(color.hexColor)"
                              [style.background-color]="color.hexColor"
                            ></div>
                          </div>
                        </div>
                      </div>
                    </div>
                    <div class="row mt-2 text-picker scroll-y">
                      <div
                        class="col-6 col-md-4 col-lg-3 col-xl-4"
                        *ngFor="let fonts of fontStyle"
                      >
                        <div class="text-item p-3">
                          <h2
                            id="drag"
                            draggable="true"
                            (dragstart)="
                              onDragStart($event, fonts.fontFamily, 'text')
                            "
                            contain
                            class="text-item__text"
                            [ngStyle]="{
                              'font-family': fonts.fontFamily,
                              color: textColor,
                              'text-shadow': textShadow
                            }"
                          >
                            {{ inputText }}
                          </h2>
                        </div>
                      </div>
                    </div>
                  </div>
                </ng-container>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <router-outlet></router-outlet>
  </div>
</div>
